<!DOCTYPE html>
<html>
<head>
	<title>Eternal Root</title>
</head>
<body>

<div class="container">

	<center>
		<h1><u>
			Eternal Root
		</u></h1>
	<div class="col-sm-2 pull-left">
		<P>Left</P>

	</div>
	<div class="col-sm-8 js-products" >
		<P>Middle</P>
		<%  @productsArray.each do |x| %>
			<button class="img-btn js-img-btn" data-description= "<%=x.description%>" 
				data-title= "<%=x.title%>" 
				data-price= "<%=x.price%>"
				data-image= "<%=x.image%>">
				<div class="grow pic">
				<img class="js-img" src="<%= x.image %>">
				</div>	
			<p><%= x.title %></p>
			</button>
		<% end %>

	</div>
	<div class="col-sm-2 pull-right">
		<P>Right</P>

	</div>
	</center>



<!-- modal view (hidden at first) -->
	<div class="modal fade js-tree-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button class="close" data-dismiss="modal">
	          <span>&times;</span>
	        </button>

	        <h3 class="modal-title">
	          <span class="js-tree-title pull-right">title</span>
	        </h3>
				<img class="js-tree-img" src="" width="250" height="250">
	      </div><!-- .modal-header -->

	      <div class="modal-body">
	        <dt class="js-tree-description">description</dt>
	        <dl class="dl-horizontal">

	          <dt>Price: $</dt>
	          <dd class="js-tree-price">500</dd>
	        </dl>
	      </div><!-- .modal-body -->

	    </div><!-- .modal-content -->
	  </div><!-- .modal-dialog -->
	</div><!-- .modal -->
</div> <!-- .contianer -->

<div class="modal fade js-last-will">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
        <form method="post" action="user_session_path">
        	<input type="file" name="last_will" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword">
  			<input type="submit">
        </form>
      </div>

      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</body>
<footer>
	
</footer>
</html>


