<!DOCTYPE html>
<html>
<head>
	<title>Eternal Root</title>
</head>
<body>

<div class="container-fluid">

	<center>
	<div class="col-sm-2 css-column pull-left">

		<form method="get" action="/api/products/comments">
			<input class="js-name" type="text" placeholder="Add your name">
			<input class="js-comment" type="text" placeholder="Comments of inspiration">
			<button class="js-submit-comment btn btn-success">Submit</button>
		</form>
		<p class="css-comments js-comments"></p>
		<p class="css-comments js-name"></p>
			<% @comments_array.each do |x| %>
				<p class="css-comments"><%= x.content %></p>
				<p class="css-comments">-<%= x.author_name %></p>
			<% end %>
	</div>
	<div class="col-sm-8 js-products" >
		<%  @products_array.each do |x| %>
			<button class="img-btn js-img-btn" data-description= "<%=x.description%>" 
				data-title= "<%=x.title%>" 
				data-price= "<%=x.price%>"
				data-image= "<%=x.image%>">
				<div class="grow pic">
				<img class="js-img" src="<%= x.image %>">
				</div>	
			<p><%= x.title %></p>
			</button>
		<% end %>

	</div>
	<div class="col-sm-2 css-column pull-right">

		<div class="css-comments">
			<p class="css-comments js-comments"></p>
			<p class="css-comments js-name"></p>
				<% @comments_array.each do |x| %>
					<p class="css-comments"><%= x.content %></p>
					<p class="css-comments">-<%= x.author_name %></p>
				<% end %>
		</div>
	</div>
	</center>



<!-- modal view (hidden at first) -->
	<div class="modal fade js-tree-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button class="close" data-dismiss="modal">
	          <span>&times;</span>
	        </button>
			<span>
	        <h3 class="modal-title">
	          <span class="js-tree-title pull-right">title</span>
	        </h3>
				<img class="js-tree-img" src="" width="250" height="250">
				</span>
	      </div><!-- .modal-header -->

	      <div class="modal-body">
	        <dt class="js-tree-description">description</dt>
	        <dl class="dl-horizontal">
			<span>
	          <dt>Price: $</dt>
	          <dd class="js-tree-price">500</dd>
	          <form>
	          <input type="hidden" name="price" value="12">
	          	<a href="/purchases" class="js-purchase-btn btn btn-success">
					Purchase
				</a>
				</form>
			</span>	
	        </dl>
	      </div><!-- .modal-body -->

	    </div><!-- .modal-content -->
	  </div><!-- .modal-dialog -->
	</div><!-- .modal -->
</div> <!-- .contianer -->


<div class="modal fade js-last-will-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">UpLoad you Last Will</h4>
      </div>
      <div class="modal-body">
      	<bt>
      		As you upload your last will, it will be sent to our personal notary who will legalize your document. We will keep in contact with you via email through out the process.
      	</bt>
		<% if user_signed_in? %>
	        <%= form_for @current_user, url: "/users/last_will", html: { multipart: true } do |form| %>
				<%= form.file_field :avatar, accept: "application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" %>
				<%= form.button %>
			<% end %>
		<% end %>
      </div>

      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<dt>
    		<strong>
    			<h3>
    				About Us
    			</h3>
    		</strong>
    		One of the more popular ways to <h3>memorialize a life </h3><br> is with a memorial plant. Planting a tree, bush, or flowers in a meaningful location can be a special way to remember a loved one.  Creating a memorial plant by using the cremated ashes of a loved one to nourish the plant can be a great way to memorialize their life.<br>
		
			<h3>Can Reflect Multiple Lives</h3><br>
			It is not uncommon to create a memorial plant to reflect multiple lives.  Several families have combined both of their parents to create one memorial for their family to enjoy.  Others have combined multiple pets with the pet parent’s ashes to create a memorial garden.  In one instance, the pet parent was an avid gardener and it was important to the surviving children to memorialize their mother’s life and her beloved kitties that she parented over the years.<br>

			Using the Let Your Love Grow organic mixture does not dictate the type of plantings that you can use.  It is up to you what you want to use as a memorial plant. You may draw inspiration from Mother Nature or from the loved one you are honoring if he or she had a favorite tree or flower.<br>

			If you live in an apartment or don’t have a lot of outdoor space, the living memorial you plant may be in a container. If you have wide-open spaces, you can do a memorial plant container if you want mobility or you can plant a tree or flowers.<br>
			
			For example, outdoor memorials such as a tree or bush like a <h3>Apple Tree</h3><br> are perfect when remembering a life lived and giving a new life back to Mother Nature.<br>

			Make sure the plant you select can tolerate extreme swings in temperature if you live in a climate that is volatile. Seedlings are not the best choice for a memorial planting.<br>

			Creating a <h3>living memorial is easy</h3>. If you are using an existing plant as a way to pay tribute, combine the Let Your Love Grow organic mixture with the cremated ash around the base of the plant. Or, if you are doing a new planting, place the mixture in the soil as you place the new plant.<br>

			If you determine that a living memorial is right for you, we recommend speaking with your local nursery to determine the memorial plant that is right for your living memorial. This ensures that your plantings are right for your planting zone.
    	</dt>
    </div>
  </div>
</div>

</body>
<footer>
	
</footer>
</html>


