<!DOCTYPE html>
<html>
<head>
	<title>Eternal Root</title>
</head>
<body>

<div class="container">

	<center>
		<h1><u>
			Eternal Root
		</u></h1>
	<div class="col-sm-2 pull-left">
		<P>Left</P>

	</div>
	<div class="col-sm-8 js-products" >
		<P>Middle</P>
		<%  @productsArray.each do |x| %>
			<button class="img-btn js-img-btn" data-description= "<%=x.description%>" 
				data-title= "<%=x.title%>" 
				data-price= "<%=x.price%>"
				data-image= "<%=x.image%>">
				<div class="grow pic">
				<img class="js-img" src="<%= x.image %>">
				</div>	
			<p><%= x.title %></p>
			</button>
		<% end %>

	</div>
	<div class="col-sm-2 pull-right">
		<P>Right</P>
		<form method="get" action="/api/products/comments">
			<input type="text" name="name" placeholder="Add your name">
			<input type="text" name="comment" placeholder="Comments of inspiration">
			<button class="btn btn-success">Submit</button>
		</form>
	</div>
	</center>



<!-- modal view (hidden at first) -->
	<div class="modal fade js-tree-modal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button class="close" data-dismiss="modal">
	          <span>&times;</span>
	        </button>

	        <h3 class="modal-title">
	          <span class="js-tree-title pull-right">title</span>
	        </h3>
				<img class="js-tree-img" src="" width="250" height="250">
	      </div><!-- .modal-header -->

	      <div class="modal-body">
	        <dt class="js-tree-description">description</dt>
	        <dl class="dl-horizontal">
			<span>
	          <dt>Price: $</dt>
	          <dd class="js-tree-price">500</dd>
	          	<a href="<%=%>" class="btn btn-success">
					Purchase
				</a>
			</span>	
	        </dl>
	      </div><!-- .modal-body -->

	    </div><!-- .modal-content -->
	  </div><!-- .modal-dialog -->
	</div><!-- .modal -->
</div> <!-- .contianer -->


<div class="modal fade js-last-will-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">UpLoad you Last Will</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
		<% if user_signed_in? %>
	        <%= form_for @current_user, url: "/users/last_will", html: { multipart: true } do |form| %>
				<%= form.file_field :avatar, accept: "application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" %>
				<%= form.button %>
			<% end %>
		<% end %>
      </div>

      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</body>
<footer>
	
</footer>
</html>


